* {
    margin: 0;
    padding: 0;
}

header {
    background: #90bf6a;
    height: 100px;
}
.header-container {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

#logo-name {
    color: blueviolet;
    position: relative;
    animation-name: logo-animacao;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

h1 {
    padding-top: 30px;
}

nav {
    position: absolute;  
    top: 40px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 19px;
    text-decoration: none;
}
nav a:hover {
    color: #d22637;
    text-decoration: underline;
}


@keyframes logo-animacao {
    0% {color: red;}
    25% {color: yellow;}
    50% {color: blue;}
    75% {color: green;}
    100% {color: red;}
}
